#chart {
    width: 0px;
        }
#toggleButton {
            position: absolute;
            left: 350px;
            transform: translateX(-50%);
            margin-top: 0px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #c4c4c4;
            color: #000000;
            border: 3px solid #666;
            border-radius: 5px;
            cursor: pointer;
        }
        #refreshButton{
            position: absolute;
            left: 307px;
            transform: translateX(-50%);
            margin-top: 60px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #c4c4c4;
            color: #000000;
            border: 3px solid #666;
            border-radius: 5px;
            cursor: pointer;
        }
        #dataTable {
            width: 100px;
            border: 3px solid #666;
            border-collapse: collapse;
            margin-left: 20px;
            margin-top: 30px;
        }
        #dataTable th, #dataTable td {
            border: 1px solid #666;
            padding: 8px 12px;
            text-align: center;
        }
        h1 {
            margin-left: 150px;
            font-size: 36px;
            color: #666;
        }